---
layout: project
title: Hello Owen - Projects
description: Owen's projects.
category: project
---

{% for product in site.data.projects %}
  <section>
	{% if product.image!="" %}
    <img class="inline pull-right" src="/images/project/{{ product.image }}"
           alt="{{ product.name }} Screenshot" width="280">
    {% endif %}
    <h2>{{ product.name }}</h2>
    <p><strong>My role:</strong> {{ product.role }}</p>
    <p>{{ product.description}}</p>
    <p>
      <strong>Technologies:</strong> {{ product.technologies | join: ", " }}
    </p>
  </section>
  <div class="spacer"></div>
{% endfor %}